<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734455123930-ipv3do9oc37tqpjb2jgqfqtj39venetg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734455123930-ipv3do9oc37tqpjb2jgqfqtj39venetg</string>
	<key>API_KEY</key>
	<string>AIzaSyBzHwsxtWmBvVwCYTMjpqILDyjHVuhDIcM</string>
	<key>GCM_SENDER_ID</key>
	<string>734455123930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kuku.SampleiOSApp</string>
	<key>PROJECT_ID</key>
	<string>sampleiosapp-46685</string>
	<key>STORAGE_BUCKET</key>
	<string>sampleiosapp-46685.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734455123930:ios:8e3a905b3a79dcd75d7ae3</string>
</dict>
</plist>